.counter{
    display: flex;
    margin: 8% 40% ;
    
}

.counter button{
   width: 30%;
   height: 52px;
   background-color: #a54946;
   border: none;
   color: aliceblue;
   font-weight: bolder;
   font-size:x-large;
  

}

input{
    border: 1px solid #a54946;
    background-color: #f8e9e9;
    width: 25%;
    height: 48px;
    color: #a54946;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
  
    
}

.r-btn{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.l-btn{
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}


